[Unit]                                                                                        
Description=Create tmp-files to provide a consistent naming and location
Before=thermald.service

[Service]                                                                                     
ExecStart=/usr/bin/asus-fan-create-symlinks.sh                      

[Install]                                                                                     
WantedBy=multi-user.target
